<InputWithLabel::Styled @hasError={{this.hasError}}>
    {{@label}}
    <input 
        type={{@type}} 
        value={{get @user @formObjKey}}
        onblur={{action "validateProperty" @formObj @formObjKey}}
        oninput={{action (action "checkValidity" @formObj) value="target.value"}}>
</InputWithLabel::Styled>

{{#if this.hasError}}
    <ul>
        {{#each this.errorMsgs as |errorMsg|}}
            <li>{{errorMsg}}</li>
        {{/each}}
    </ul>
{{/if}}
{{yield}}